@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v34-latin_cyrillic-regular.woff2')
      format('woff2'),
    url('../fonts/open-sans-v34-latin_cyrillic-regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/open-sans-v34-latin_cyrillic-600.woff2') format('woff2'),
    url('../fonts/open-sans-v34-latin_cyrillic-600.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/open-sans-v34-latin_cyrillic-700.woff2') format('woff2'),
    url('../fonts/open-sans-v34-latin_cyrillic-600.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/raleway-v28-latin_cyrillic-700.woff2') format('woff2'),
    url('../fonts/raleway-v28-latin_cyrillic-700.woff') format('woff');
}

:root {
  --clr-brand: #ff6c00;
  --clr-primary: #555;
  --clr-primary-dark: #303030;
  --clr-primary-inverted: #fff;
  --clr-secondary: #9da4bd;
  --clr-secondary-transparent: rgba(157, 164, 189, 0.6);
  --clr-background-primary: #fff;
  --clr-background-primary-dark: #191c26;
  --clr-background-secondary: #f7f7f7;
  --clr-form-transparent: rgba(157, 164, 189, 0.4);
  --clr-backdrop-mobile: rgba(25, 28, 38, 0.5);
  --clr-service-line: rgba(157, 164, 189, 0.12);
}

/* Base */

html {
  scroll-behavior: smooth;
}

body {
  color: var(--clr-primary);
  background-color: var(--clr-background-primary);
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.85;
  letter-spacing: 0.02em;
  -webkit-tap-highlight-color: transparent;
}

body.is-open {
  overflow: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  padding: 0 31px;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 39px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding: 0 15px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header */

.header {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
  padding-top: 28px;
  /* padding-left: 40px; */
}

.header-container {
  display: flex;
  align-items: center;
}

@media (min-width: 768px) {
  .header-container {
    align-items: flex-start;
  }
}

@media (min-width: 1200px) {
  .header-container {
    align-items: center;
  }
}

.header-nav {
  display: flex;
  flex-grow: 1;
}

@media (min-width: 768px) {
  .header-nav {
    align-items: center;
    gap: 58px;
    padding-left: 16px;
  }
}

@media (min-width: 1200px) {
  .header-nav {
    gap: 74px;
  }
}

.header-link-logo {
  width: 69px;
  height: 56px;
}

.header-logo {
  width: 100%;
  height: 100%;
  fill: var(--clr-primary-inverted);
}

@media (min-width: 768px) {
  .header-logo {
    fill: var(--clr-primary-dark);
  }
}

.header-menu {
  display: none;
}

@media (min-width: 768px) {
  .header-menu {
    display: flex;
    gap: 24px;
  }
}

@media (min-width: 1200px) {
  .header-menu {
    gap: 40px;
  }
}

.header-link {
  color: var(--clr-primary-inverted);
  text-decoration: none;
  font-family: inherit;
  font-size: 12px;
  line-height: 1.34;
  font-weight: 600;
  letter-spacing: 0.1em;
  padding: 20px 0;
  transition: color 0.3s ease;
}

.header-link:hover,
.header-link:focus {
  color: var(--clr-brand);
}

.header-contacts {
  display: none;
}

@media (min-width: 768px) {
  .header-contacts {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 8px;
  }
}

@media (min-width: 1200px) {
  .header-contacts {
    flex-direction: row;
    gap: 40px;
    padding: 0;
  }
}

.button-light {
  display: block;
  color: var(--clr-primary-inverted);
  background-color: transparent;
  border: 1px solid var(--clr-brand);
  border-radius: 25px;
  cursor: pointer;
  font-size: 12px;
  line-height: 1.36;
  font-weight: 600;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  text-align: center;
  padding: 12px 20px;
  height: 40px;
  text-decoration: none;
  inline-size: fit-content;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button-light:hover,
.button-light:focus {
  background-color: var(--clr-brand);
  color: var(--clr-primary-inverted);
}

.button-dark {
  color: var(--clr-primary-dark);
}

.header-burger {
  width: 40px;
  height: 40px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  fill: var(--clr-primary-inverted);
  border: none;
  cursor: pointer;
}

@media (min-width: 768px) {
  .header-burger {
    display: none;
  }
}

.burger-icon {
  width: 100%;
  height: 100%;
}

/* Mobile menu */

.mobile-backdrop,
.mobile-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.mobile-backdrop {
  pointer-events: none;
  transition: transform 0.3s ease-in-out;
}

.mobile-backdrop.is-open {
  pointer-events: all;
}

.mobile-overlay {
  background-color: var(--clr-backdrop-mobile);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.mobile-backdrop.is-open > .mobile-overlay {
  opacity: 100%;
}

.mobile-modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  right: 0;
  padding: 118px 40px;
  background-color: white;
  transform: translateX(100%);
  transition: transform 0.4s ease-in-out;
  overflow-y: auto;
}

@media (min-width: 380px) {
  .mobile-modal {
    width: 337px;
  }
}

.mobile-backdrop.is-open > .mobile-modal {
  transform: translateX(0);
}

.mobile-close {
  position: absolute;
  top: 48px;
  right: 31px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

.mobile-close-icon {
  width: 100%;
  height: 100%;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  margin-bottom: 52px;
}

.mobile-link {
  display: block;
  color: var(--clr-primary-dark);
  text-decoration: none;
  font-family: inherit;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.1em;
  padding: 12px 0px;
  transition: color 0.3s ease;
}

.mobile-item:first-child > .mobile-link {
  padding-top: 0;
}

.mobile-number {
  margin-bottom: 12px;
}

.mobile-socials-container {
  margin-top: 52px;
  max-width: 200px;
}

.mobile-socials-list {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 40px;
}

.mobile-socials-item:last-of-type {
  margin-left: 100px;
  padding-bottom: 0;
}

.mobile-socials-item {
  padding: 12px 0;
}

.mobile-socials {
  color: var(--clr-primary-dark);
  text-decoration: none;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  padding: 12px 0;
  transition: color 0.3s ease;
}

.mobile-socials:hover,
.mobile-socials:focus,
.mobile-link:hover,
.mobile-link:focus {
  color: var(--clr-brand);
}

/* Hero section */

.hero-section {
  background-color: var(--clr-primary-dark);
  background-image: url(../img/man-hair-cut.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-container {
  padding: 208px 0px 183px;
}

@media (min-width: 768px) {
  .hero-container {
    position: relative;
    padding: 272px 0px 243px 236px;
  }
}

@media (min-width: 1200px) {
  .hero-container {
    padding-left: 216px;
    padding-bottom: 208px;
  }
}

@media (min-width: 768px) {
  .hero-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: calc(100% + 116px);
    height: 101%;
    background-color: var(--clr-background-primary);
  }
}

.hero-socials {
  display: none;
}

@media (min-width: 768px) {
  .hero-socials {
    display: flex;
    align-items: center;
    gap: 40px;
    position: absolute;
    left: 62px;
    bottom: 40px;
    transform: rotate(-90deg);
    transform-origin: left bottom;
  }
}

.socials-link {
  color: var(--clr-primary-dark);
  text-decoration: none;
  font-family: inherit;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.37;
  letter-spacing: 0.2em;
  transition: color 0.3s ease;
}

.socials-link:hover,
.socials-link:focus {
  color: var(--clr-brand);
}

.hero-title {
  color: var(--clr-primary-inverted);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 1.08;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
}

@media (min-width: 357px) {
  .hero-title {
    font-size: 48px;
    line-height: 1.18;
  }
}

@media (min-width: 1200px) {
  .hero-title {
    font-size: 72px;
  }
}

.hero-line-break::after {
  content: '\a';
  white-space: pre;
}

@media (min-width: 357px) {
  .hero-line-break::after {
    content: '';
  }
}

.hero-text {
  max-width: 486px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.67;
  color: var(--clr-secondary);
}

@media (min-width: 1200px) {
  .hero-text {
    font-size: 18px;
  }
}

/* Carousel */

.carousel-controls {
  display: none;
}

@media (min-width: 768px) {
  .carousel-controls {
    position: absolute;
    right: 0;
    bottom: 40px;
    display: flex;
    align-items: center;
    gap: 60px;
  }
}

.carousel-button {
  position: relative;
  padding: 8px 0;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  color: var(--clr-primary-inverted);
  background: none;
  border: none;
  cursor: pointer;
}

.carousel-button::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 60px;
  bottom: 0;
  background-color: currentColor;
}

.carousel-prev::after {
  left: 0;
}

.carousel-next::after {
  right: 0;
}

.carousel-button[disabled] {
  color: var(--clr-secondary-transparent);
  cursor: not-allowed;
}

/* Section */

.section {
  padding: 84px 0;
}

@media (min-width: 768px) {
  .section {
    padding: 100px 0;
  }
}

@media (min-width: 1200px) {
  .section {
    padding: 130px 0;
  }
}

.section-tagline {
  display: flex;
  align-items: center;
  gap: 20px;
  color: var(--clr-primary-dark);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.section-tagline::before,
.hero-socials::before,
.footer-container::after,
.mobile-socials-list::before {
  content: '';
  display: block;
  height: 1px;
  width: 60px;
  background: currentColor;
}

.section-tagline-light {
  color: var(--clr-secondary-transparent);
}

.section-title {
  color: var(--clr-primary-dark);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
}

.section-title-light {
  color: var(--clr-primary-inverted);
}

.section-title-left {
  margin-bottom: 44px;
}

/* About section */

.about-container {
  display: flex;
  gap: 30px;
  justify-content: center;
}

@media (min-width: 768px) {
  .about-images {
    gap: 64px;
  }
}

.about-images {
  display: none;
}

@media (min-width: 768px) {
  .about-images {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-shrink: 0;
  }
}

@media (min-width: 1200px) {
  .about-images {
    flex-direction: row;
  }
}

.about-title {
  font-size: 28px;
  line-height: 1.18;
}

@media (min-width: 1200px) {
  .about-title {
    font-size: 42px;
    line-height: 1.17;
  }
}

.about-subtitle {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
  max-width: 500px;
}

@media (min-width: 1200px) {
  .about-subtitle {
    font-size: 18px;
    line-height: 1.67;
  }
}

.about-text {
  margin-bottom: 40px;
  max-width: 500px;
}

/* Services section */

.services-section {
  background-color: var(--clr-primary-dark);
  background-image: linear-gradient(
      rgba(17, 19, 25, 0.8),
      rgba(17, 19, 25, 0.8)
    ),
    url(../img/barber-tools.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.services-container {
  display: flex;
  position: relative;
  margin-bottom: 50px;
}

@media (min-width: 1200px) {
  .services-container {
    height: 240px;
  }
}

/* .services-container::before {
  content: '';
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  flex-basis: 100%;
  height: 100%;
} */

@media (min-width: 1200px) {
  .services-container::before,
  .services-container::after {
    content: '';
    height: 100%;
    flex-grow: 1;
  }

  .services-container::before {
    background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  }

  .services-container::after {
    background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
  }
}

.services-list {
  padding: 20px 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

@media (min-width: 1200px) {
  .services-list {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: none;
  }
}

.services-item {
  width: 100%;
}

@media (min-width: 1200px) {
  .services-item {
    width: 50%;
  }
}

.service {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 2.14;
  color: var(--clr-secondary);
  gap: 4px;
}

@media (min-width: 768px) {
  .service {
    font-size: 18px;
    line-height: 1.62;
    padding: 10px 40px;
  }
}

.service-name {
  margin-bottom: 0;
  font-weight: inherit;
  font-size: inherit;
}

.service-line {
  height: 0.8px;
  flex-grow: 1;
  align-self: flex-end;
  background-color: var(--clr-service-line);
  margin-bottom: 7px;
}

.service-price {
  width: 100%;
  max-width: 82px;
}

@media (min-width: 768px) {
  .service-price {
    width: auto;
    max-width: 100%;
  }
}

.services-button {
  display: block;
  margin: 0 auto;
}

/* Masters section */

.masters-section {
  background-color: var(--clr-background-secondary);
}

@media (min-width: 768px) and (max-width: 1200px) {
  .masters-container {
    max-width: 450px;
    padding: 0;
  }
}

.masters-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 64px;
}

@media (min-width: 1200px) {
  .masters-list {
    column-gap: 30px;
  }
}

.masters-item {
  flex-basis: 100%;
}

@media (min-width: 1200px) {
  .masters-item {
    flex-basis: calc((100% - 60px) / 3);
  }
}

.master {
  text-align: center;
}

.master-picture {
  margin: 0 auto;
  width: 100%;
  max-height: 346px;
}

.master-info {
  padding: 30px 20px 0;
}

.master-name {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  color: var(--clr-primary-dark);
}

.master-job {
  margin-bottom: 30px;
  line-height: 1.36;
  color: var(--clr-brand);
}

/* Socials */

.socials-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.socials-item {
  height: 44px;
  width: 44px;
}

.masters-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--clr-primary-inverted);
  fill: var(--clr-primary-dark);
  transition: fill 0.3s ease;
}

.socials-icon {
  width: 20px;
  height: 20px;
}

.masters-socials:hover,
.masters-socials:focus {
  fill: var(--clr-brand);
  animation: shake 1s;
}

/* Achievements section */

.achievements-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 53px;
}

@media (min-width: 768px) {
  .achievements-container {
    row-gap: 53px;
    align-items: unset;
  }
}

@media (min-width: 1200px) {
  .achievements-container {
    flex-direction: row-reverse;
    justify-content: center;
    column-gap: 130px;
  }
}

.achievements-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 14px;
  margin-top: -5px;
}

@media (min-width: 357px) {
  .achievements-list {
    column-gap: 30px;
  }
}

@media (min-width: 768px) {
  .achievements-list {
    align-self: flex-end;
    width: 480px;
    padding-left: 30px;
  }
}

@media (min-width: 1200px) {
  .achievements-list {
    width: 400px;
  }
}

.achievements-item {
  flex-basis: calc((100% - 15px) / 2);
  color: var(--clr-primary-dark);
}

@media (min-width: 357px) {
  .achievements-item {
    flex-basis: calc((100% - 30px) / 2);
  }
}

.achievements-item:nth-child(odd) {
  margin-top: -9px;
}

.achievements-item:nth-child(even) {
  margin-top: 15px;
}

@media (min-width: 357px) {
  .achievements-item:nth-child(even) {
    margin-top: 30px;
  }
}

.point {
  background-color: var(--clr-background-secondary);
  padding: 20px 24px;
  height: 140px;
}

@media (min-width: 480px) {
  .point {
    background-color: var(--clr-background-secondary);
    height: 133px;
  }
}

@media (min-width: 768px) {
  .point {
    padding-inline: 44px;
  }
}

@media (min-width: 1200px) {
  .point {
    padding-inline: 24px;
  }
}

.point-container {
  text-align: center;
}

.point-value {
  position: relative;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.35;
  margin-bottom: 6px;
}

.point-value::after {
  content: '+';
  position: absolute;
  transform: translateX(100%);
  right: -2px;
  top: 7px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  color: var(--clr-brand);
}

.point-text {
  margin: 0;
  text-align: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.35;
  letter-spacing: normal;
}

.achievements-title {
  max-width: 420px;
}

.achievements-text {
  font-size: 18px;
  line-height: 1.67;
  max-width: 500px;
}

/* Our works section */

.our-works-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.our-works-tagline {
  margin-bottom: 44px;
}

/* Contact section */

.contact-section {
  position: relative;
  z-index: 0;
  background-color: var(--clr-background-primary-dark);
}

@media (min-width: 1200px) {
  .contact-section:after {
    content: '';
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 50%;
    top: 0;
    right: 0;
    background-image: linear-gradient(rgb(25 28 38 / 90%), rgb(25 28 38 / 90%)),
      url(../img/barbershop-room.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .contact-section:after {
      background-image: linear-gradient(
          rgb(25 28 38 / 90%),
          rgb(25 28 38 / 90%)
        ),
        url(../img/barbershop-room@2x.jpg);
    }
  }
}

.contact-container {
  padding: 0;
  margin: 0;
  max-width: 100%;
}

@media (min-width: 1200px) {
  .contact-container {
    display: flex;
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1200px;
  }
}

@media (min-width: 1200px) {
  .container.contact-inner {
    padding: 0;
  }
}

.contact-info {
  font-size: 18px;
  line-height: 1.67;
  color: var(--clr-secondary);
  background-color: #5a5959;
  background-image: linear-gradient(rgb(25 28 38 / 90%), rgb(25 28 38 / 90%)),
    url(../img/barbershop-room.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .contact-info {
    background-image: linear-gradient(rgb(25 28 38 / 90%), rgb(25 28 38 / 90%)),
      url(../img/barbershop-room@2x.jpg);
  }
}

@media (min-width: 1200px) {
  .contact-info {
    flex-basis: 50%;
    padding-left: 100px;
    background: none;
  }

  .contact-form {
    flex-basis: 50%;
  }
}

.contact-title {
  margin-bottom: 40px;
}

.contact-section .section-title {
  text-align: center;
}

@media (min-width: 768px) {
  .contact-section .section-title {
    text-align: left;
  }
}

@media (min-width: 768px) and (max-width: 1199.5px) {
  .contact-info-container {
    display: flex;
    column-gap: 120px;
  }
}

.contact-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-address {
  margin-bottom: 44px;
}

@media (min-width: 768px) {
  .contact-address {
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .contact-address {
    margin-bottom: 70px;
  }
}

.contact-link {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  color: currentColor;
  font-style: normal;
  text-decoration: none;
  transition: color 0.3s ease;
}

.contact-link:hover,
.contact-link:focus {
  color: var(--clr-brand);
}

.contact-icon {
  width: 24px;
  height: 24px;
  stroke: currentColor;
  fill: transparent;
}

.contact-icon.map-icon {
  margin-top: 6px;
}

.contact-schedule-title {
  text-transform: uppercase;
  color: var(--clr-primary-inverted);
  margin-bottom: 20px;
}

.contact-schedule-title:before {
  color: var(--clr-secondary-transparent);
}

/* Form */

.form-container {
  display: flex;
  flex-wrap: wrap;
  gap: 59px 30px;
  color: var(--clr-form-transparent);
  margin-bottom: 44px;
}

@media (min-width: 1200px) {
  .form-container {
    padding-right: 40px;
  }
}

.form-field {
  flex-basis: calc((100% - 30px) / 2);
  height: 24px;
}

.form-textarea {
  position: relative;
  height: 60px;
  flex-basis: 100%;
}

.form-input {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  padding: 0;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 8px;
  transition: color 0.4s ease;
}

.form-input:focus {
  outline: none;
  color: var(--clr-primary-inverted);
}

.form-label,
.form-input,
.form-input::placeholder {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  color: currentColor;
  /* transition: color 0.4s ease; */
}

.form-textarea .form-label {
  position: absolute;
  top: -15px;
  left: 0;
  transition: color 0.4s ease;
}

.textarea {
  height: 100%;
  resize: none;
}

.textarea:focus + .form-label {
  color: var(--clr-primary-inverted);
}

.contact-section .form-button {
  margin: 0 auto;
}

@media (min-width: 768px) {
  .contact-section .form-button {
    margin: 0;
  }
}

/* Footer */

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-container::after {
  background-color: var(--clr-primary-dark);
}

@media (max-width: 420px) or (min-width: 768px) {
  .footer-container::after {
    display: none;
  }
}

.footer-list {
  display: flex;
  align-items: center;
  order: 1;
}

@media (min-width: 768px) {
  .footer-list::before {
    content: '';
    display: block;
    height: 1px;
    width: 60px;
    background: currentColor;
    margin-right: 20px;
  }
}

.footer-socials {
  display: block;
  padding: 56px 7.5px;
}

@media (min-width: 768px) {
  .footer-socials {
    display: block;
    padding-inline: 20px;
  }
}

.footer-item:last-child > .footer-socials {
  padding-right: 0;
}

.footer-copyright {
  display: flex;
  gap: 6px;
  align-items: center;
  color: var(--clr-secondary);
  font-family: inherit;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.37;
  letter-spacing: 0.2em;
  padding-right: 7.4px;
}

.copyright-icon {
  width: 12px;
  height: 12px;
  fill: currentColor;
}

/* Animation */
@keyframes shake {
  0%,
  50%,
  100% {
    transform: rotate(0deg);
  }
  10%,
  30% {
    transform: rotate(-10deg);
  }
  20%,
  40% {
    transform: rotate(10deg);
  }
}
